<!DOCTYPE html>
{% extends "blog/base.html" %}
{% block titel_block %}{{post.title}}{% endblock %}
      {% block content %}
          <h1>{{post.title}}</h1>
          <p id="date">Published on {{post.publish}} by {{post.author|title}}</p>
          {{post.body|linebreaks}}<hr>
          <div class="container" align=center>
            <a href="/{{post.id}}/share" class="btn btn-lg btn-success">Share Post By Email</a><hr><hr><hr>
          </div>
          {% with comments.count as comments_count %}
              <h2>{{comments_count}} Comment{{comments_count|pluralize}}</h2>
          {% endwith %}
          {% if comments %}
               {% for comment in comments %}
                   <p id="ch">Comment {{forloop.counter}} by {{comment.name}} on {{comment.created}}</p>
                   <div class="cb">
                      {{comment.body|linebreaks}}<hr>
                   </div>
               {% endfor %}
          {% else %}
               <p>There are no comments yet!!!</p>
          {% endif %}
          {% if csubmit %}
               <h2>Your Comment Added Successfully</h2>
          {% else %}
               <h2>Write a comment it's more valuable for us!!!</h2><hr><hr><hr>
               <form method="post">
                   {{form.as_p}}
                   {% csrf_token %}
                   <input type="submit" class="btn btn-lg btn-success" value="Submit Comment"><hr><hr><hr>
               </form>
          {% endif %}
      {% endblock %}
